<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ifinalframework.plugins.aio.mybatis.JavaMapper">
    <sql id="table">
        t_java
    </sql>
    <sql id="columns">
        `id`
        , `name`, `age`
    </sql>
    <select id="selectByIdAndName" resultType="org.ifinalframework.plugins.aio.mybatis.JavaModel">
        SELECT
        <include refid="table"/>
        FROM
        <include refid="columns"/>
        <where>
            <if test="null != id">
                AND id = #{id}
            </if>
            <if test="null != name and name != ''">
                AND name = #{name}
            </if>
            <if test="null != query.id">
                AND id = #{query.id, typeHandler=org.ifinalframework.plugins.aio.mybatis.MyTypeHandler}
            </if>
            <if test="null != query.ids and query.ids.size > 0">
                AND id = #{query.ids}
            </if>
            <if test="null != query.name and query.name != ''">
                AND name = #{query.name}
            </if>
            <if test="null != query.age">
                AND age = #{query.age}
            </if>
        </where>
    </select>


</mapper>