<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ifinalframework.plugins.aio.mybatis.KotlinMapper">

    <resultMap id="resultMap" type="org.ifinalframework.plugins.aio.mybatis.ResultMap">
        <id column="id" property="id"/>
        <result column="id" property="id"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO
        
    </insert>
    <delete id="delete">
        
    </delete>
    <update id="update"></update>
    <select id="select1"></select>
    
</mapper>